{{ template "header" . }}

<center>
    <p class="h5 mt-5 text-monospace">
        Проект выполнен на чистом энтузиазме. <br>Вы можете поддержать проект, перечислив сумму по ссылке ниже<br>
        <a href="https://www.donationalerts.com/r/6in4">Поддержать проект</a><br><br>
        Все кто поддержал проект будут перечислены на этом странице ниже.<br>Если вы этого не хотите, то напишите об этом в телеграмм.
    </p>
    <p class="h5 mt-5 text-monospace">
        По всем вопросам пишите в телеграмм <a href="https://t.me/tunnelsupport">@tunnelsupport</a><br><br>
        <b>Спасибо за пользованием сервисом!</b>
    </p>
    <p class="h5 mt-5 text-monospace"><a href="/login">На главную</a></p>
</center>

{{ template "footer" . }}