{{ template "header" . }}


    {{ template "linux-config" . }}
    <br/>
    {{ template "mikrotik-config" . }}
    {{ template "update-tunnel" . }}
    {{ template "keenetic-config" . }}

    <var>IPv6 адреса выдаются блоками по /64, если кому нужно больше могу за отдельную плату зароутить вашу сеть через свой сервер, но вам нужно будет приобрести больший блок, с этим тоже могу помочь.</var>
    <br>
    <br>
    <var>Если у кого-нибудь есть желание дополнить этот мануал, пишите <a href="https://t.me/tunnelsupport">мне</a></var>
    <center>
        <p class="h5 mt-3 text-monospace"><a href="/login">На главную</a></p>
    </center>

{{ template "footer" . }}